{% extends "doctor/master.html" %}
{% load static %}
{% block header %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        
      }
      
      th, td {
         
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      th {
        background-color: #f2f2f2;
      }
      
      tr:hover {
        background-color: #f5f5f5;
      }
      .doc-rec{
        padding-top: 50px;
      }

</style>

{% endblock %}



{% block content %}

 
<div class="container-fluid doc-rec">
    

    <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Appoinment Date</th>
          <th>Time</th>
          <th>Status</th>
          <th></th>
           
          
        </tr>
        {% for i in bookings %} 
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.age}}</td>
          <td>{{i.email}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.slot.day}}</td>
          <td>{{i.slot.time}}</td>
          <td>{{i.status}}</td>
          <td><a href="{% url 'doctor:prescription' i.id %}">View</a></td>
          
           
           
    
        </tr>
        {% endfor %}
         
      </table>
    </div>
    
 

{% endblock %}