{% extends "doctor/master.html" %}
{% load static %}
{% block header %}
<style>
	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 50px;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input[type=text],input[type=password],input[type=file],select {
		margin: 10px;
		padding: 10px;
		width: 500px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}

	input[type=submit] {
		background-color: #4CAF50;
		color: white;
		border: none;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 10px;
		border-radius: 5px;
		cursor: pointer;
	}

	label {
		margin: 10px;
	}

	.signup {
		text-align: center;
	}

</style>


{% endblock %}



{% block content %}



<div class="container-fluid form">
	<div class="" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
		<h3>Change Password</h3>
	</div>
	<table>
		{{ msg }}



		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<tr>
				<td><label for="old_password">Current Password :</label></td>
				<td><input type="text" id="old_password" name="current_password" required></td>
			</tr>

			<tr>
				<td><label for="new password">New Password :</label></td>
				<td><input type="password" name="new_password" required></td>
			</tr>

            <tr>
				<td><label for="Confirm Password">Confirm Password :</label></td>
				<td><input type="password" name="confirm_password" required></td>
			</tr>
            <tr>
				<td></td>
				<td><input type="submit" value="Submit"></td>
			</tr>

        </form>
    </table>
</div>

{% endblock %}