{% extends "doctor/master.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">


{% endblock %}



{% block content %}


<section class="main-section">


    <div class="profile-section">
        <div class="top-section">
            <div class="profile-image">
                <img src="{% static 'image/doctor.png' %}" alt="" width="70%" class="img">
            </div>
            <div class="profile-details">
                <h3>Dr {{doctor.name |title}}</h3>
                <h4> {{doctor.department.name|title}}</h4>
            </div>
        </div>

        <div class="bottom-section">

            <table>
                <tr>
                    <td>
                        <h5>Age :</h5>
                    </td>
                    <td>
                        <h5>{{doctor.age}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Mobile :</h5>
                    </td>
                    <td>
                        <h5>{{doctor.mobile}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Email :</h5>
                    </td>
                    <td>
                        <h5>{{doctor.email}}</h5>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <h5>Adress :</h5>
                    </td>
                    <td>
                        <h5>Hi villa, Calicut</h5>
                    </td>

                </tr>
                <tr>

                    <td>
                        <h5>Qualification :</h5>
                    </td>
                    <td>
                        <h5>{{doctor.qualification|title}}</h5>
                    </td>
                </tr>
                
                
                
            </table>

            <div class="bottom-child">

            </div>


        </div>
    </div>


    <div class="info-section">

        <div class="info-top">

            <div class="info-cards">
                <div class="cards-img"><i class="las la-user-injured" style="font-size: 80px;"></i></div>
                <div class="cards-content"><h3>Patients</h3> <h3>{{count}}</h3></div>
            </div>
            <div class="info-cards">
                <div class="cards-img"> <i class="las la-calendar-check" style="font-size: 80px;"></i></div>
                <div class="cards-content"><h3>Appoinments</h3><h3>{{count}}</h3></div>
            </div>

        </div>

    </div>

</section>


{% endblock %}