{% extends "doctor/master.html" %}
{% load static %}
{% block header %}
<style>
  table {
    width: 100%;
    border-collapse: collapse;

  }

  th,
  td {

    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }


  .doc-rec {
    padding-top: 50px;
  }

  input[type=text],
  input[type=password],
  input[type=file],
  input[type=date],
  input[type=number],
  select {
    margin: 10px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button{
    
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 20px;
    

  }
</style>

{% endblock %}



{% block content %}



<div class="mb-3">
  <table>
    <tr>
      <th>Name :</th>

      <td>{{bookings.name |title}}</td>
      <th>Age :</th>
      <td>{{bookings.age}}</td>
    </tr>
    <tr>
      <th>Gender :</th>
      <td>{{bookings.gender}}</td>
      <th>Place</th>
      <td>{{bookings.phone |title}}</td>
    </tr>
  </table>
</div>
<form action="" method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Diagnosis :</label>
    <textarea class="form-control" id="" rows="4" name="diagnosis"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Medicine :</label>
    <textarea class="form-control" id="" rows="4" name="medicine"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Dosage :</label>
    <input type="number" name="dosage" min="1">

  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Frequency :</label>
    <textarea class="form-control" id="" rows="4" name="frequency"></textarea>
 

</div>
  <div class="mb-3" style="text-align: center;"><button type="submit">Add prescription</button></div>
</form>
{% endblock %}