body {
	/* font-family: Arial, sans-serif; */
	margin: 0;
	padding: 0;
}

header {
	background-color:rgba(74, 74, 74, 0.989);
	color: #fff;
	padding: 20px;
}
nav {
    border-radius: 5px;
}

 

nav a:hover {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}
.footer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* margin-top: 2%; */
}
.footer_child {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	font-family: 'Times New Roman', Times, serif;
	
	text-align:  center;
	 
	

}
.img {
	width: 40%;
	aspect-ratio: 3/2;
	object-fit: contain;
	/* mix-blend-mode: color-burn; */
}
a {
	text-decoration: none;
	text-align: center;
}
 
 
  

 