{% extends "myhospital_app/master.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/login_validations.js' %}"></script>

{% endblock %}



{% block content %}

<h1>DOCTOR LOGIN</h1>

 
<div class="container-fluid login_parent">
	<div class="log_form">
		<img src="{% static 'image/doctor_login.jpg' %}" alt="" class="logimg" height="350px">

	</div>
	 
	<div class="log_form">
		<h1>Login</h1>
		<form>
		  <label for="username">Hospital ID:</label>
		  <input type="text" id="id" name="hospital_id" required><span id="id_span"></span>
		  <label for="password">Password:</label>
		  <input type="password" id="password" name="password" required><span id="password_span"></span>
		  <input type="submit" value="Login" onclick="loginvalidate()">
		</form>
	  </div>
	  

	  
</div>	
 {% endblock %}