{% extends "myhospital_app/master.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/login_validations.js' %}"></script>

{% endblock %}



{% block content %}

<h1>PATIENT LOGIN</h1>

 
<div class="container-fluid login_parent">
	<div class="log_form">
		<img src="{% static 'image/patient_login.jpeg' %}" alt="" class="logimg">

	</div>
	 
	<div class="log_form">
		<h1>Login</h1>
		<form>
		  <label for="username">Patient ID:</label>
		  <input type="text" id="id" name="id" required placeholder="eg:12345678"><span id="id_span"></span>
		  <label for="password">Password:</label>
		  <input type="password" id="password" name="password" required>
		  <span id="password_span"></span>
		 <a href="home"><input type="submit" value="Login" onclick=" loginvalidate()"></a> <p class="signup-link">
			No account?
			<a href="register">Sign up</a> 
		  </p>
 		</form>
	  </div>
	  

	  
</div>	

<script>
	
</script>
 {% endblock %}