{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    {% block header %}

    {% endblock %}
</head>

<body>
    

     
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="{% static 'image/logo.png' %}" alt="" width="60px"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{% url 'myhospital_app:patient_portal' %}">Patient Portal</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'myhospital_app:about_us' %}">About us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'myhospital_app:contact' %}">Contact us</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Login
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="login">Login as Patient</a></li>
                          <li><a class="dropdown-item" href="doctor_login">Login as Doctor</a></li>
                          <li><a class="dropdown-item" href="staff_login">Login as Staff</a></li>
                          <li><a class="dropdown-item" href="{% url 'myhospital_app:admin_login' %}">Login as Admin</a></li>

                        </ul>
                      </li>
                       
                      
                       
                    </ul>
                    <div>
                     <a href="{% url 'myhospital_app:booking' %}"> <button class="btn btn-outline-success" type="button">Make Appoinment</button></a>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
         
        
     
<div class="content"> 
{% block content %}

{% endblock %}
</div>
<hr>
<footer>
  <div class="footer">
    <div class="footer_child">
 
      <h3>Hospital Links</h3>
      <h6>
        <a href="{% url 'myhospital_app:home' %}">> Home</a> <br>
        <a href="{% url 'myhospital_app:about_us' %}">> About Us</a> <br>
         > Privacy Policy <br>
         > Terms and conditions  <br>
         > Charity Program  <br>
        <a href="{% url 'myhospital_app:contact' %}">> Contact Us</a> <br>
        

      </h6>

    </div>
    <div class="footer_child">
      <h3>Information Links</h3>
      <h6>
        <a href="{% url 'myhospital_app:home' %}">> Departments</a> <br>
        <a href="{% url 'myhospital_app:home' %}">> Our Doctors</a> <br>
        <a href="{% url 'myhospital_app:home' %}">> Services</a> <br>
         

      </h6>

    </div>
    <div class="footer_child">
       
      <h3>Other Links</h3>
      <h6>
        <a href="{% url 'myhospital_app:home' %}">> Online Appoinment</a> <br>
        <a href="{% url 'myhospital_app:home' %}">> Online Lab Report</a> <br>
        <a href="{% url 'myhospital_app:home' %}">> Feedback</a> <br>
        

      </h6>

    </div>
    <div class="footer-child">
      <h3>Contact Us</h3>
      <h6>
        My hospital International Hospital <br>
        Calicut Kerala India <br>
        0496 496 265420
        myhospital@gmail.com
      </h6>

    </div>
    

     

  </div>
  
</footer>

</body>

</html>