{% extends "myhospital_app/master.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="">
<script src=""></script>
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
    }

    .main {
        width: 100%;
        padding: 25px 8%;

    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.175);


    }

    input[type=text],
    input[type=password],
    input[type=file],
    input[type=date],
    select,textarea {
        margin: 10px;
        padding: 10px;
        width: 500px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    label {
        margin: 10px;
    }


    .submitTr {
        width: 100%;
        text-align: center;
    }
</style>

{% endblock %}



{% block content %}
<section class="main">

    <div class="container-fluid form">
        <div class="" style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-family:fantasy">
            <h2>Patient Register</h2>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <table>
                {{ msg }}




                {% csrf_token %}

                <tr>
                    <td><label for="name">Name :</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                    <td><label for="age">Age :</label></td>
                    <td><input type="text" name="age" required></td>
                </tr>

                <tr>
                    <td><label for="dob">DOB :</label></td>
                    <td><input type="date" name="dob"></td>
                    <td><label for="gender">Gender :</label></td>

                    <td>
                        <select name="gender" id="gender">
                            <option value="" selected disabled>Select a Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>




                <tr>
                    <td><label for="phone">Phone No :</label></td>
                    <td><input type="text" name="phone"></td>

                    <td><label for="email">Email :</label></td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td><label for="place">Place :</label></td>
                    
                    <td><input type="text" name="place"></td>
                </tr>
            </table>
	            <div class="submitTr"> <td><input type="submit" value="Submit"></td></div>

        </form>









        {% endblock %}